@model IEnumerable<Project>
@{
    ViewData["Title"] = "Manage Projects";
}

<h1>Manage Projects</h1>

<p>
    <a asp-action="CreateProject" class="btn btn-primary">Create New Project</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>Created By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@(item.CreatedBy?.User?.UserName ?? "N/A")</td>
                <td>
                    <a asp-action="ProjectDetails" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>